.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.art {
  width: 150px;
}

.mega {
  width: 150px;
}

.art-ani {
  animation: art 1.5s;
  opacity: 0;
}

.logo-container {
  height: 160px;
  animation: logo-container 2s;
  margin: 50px 0;
}

.landing {
  width: 150px;
  height: 150px;
}

.landing-img {
  margin: 0 10px;
  animation: landing-img 2s;
}

.title {
  font-size: 40px;
  animation: landing 2s;
}

.footer {
  font-weight: bold;
  animation: landing 2s;
  margin-bottom: 50px;
}

.btn {
  background-color: black !important;
  font-weight: bold !important;
}

.description {
  animation: landing 2s;
}

@keyframes art {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes landing {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes logo-container {
	from {
    margin: 100px 0 0;
		opacity: 0;
	}
	to {
    margin-top: 50px;
		opacity: 1;
    margin-bottom: 50px;
	}
}

@keyframes landing-img {
	from {
    margin: 0 50px;
	}
	to {
    margin: 0 10px;
	}
}
