.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.art {
  width: 150px;
}

.mega {
  width: 150px;
}

.art-ani {
  animation: art 2s;
  opacity: 0;
}

.logo-container {
  height: 200px;
}

.title {
  font-size: 40px;
}

.footer {
  font-weight: bold;
}

.btn {
  background-color: black !important;
  font-weight: bold !important;
}

@keyframes art {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
